body{
    font-family: 'Poppins', sans-serif;
}
.h1-color{
    color: orangered;
}
h1{
    font-weight: 900;
    font-size: 50px;
    padding-left: 15px ;
}
p{
    text-align: justify;
    padding-bottom: 3%;
    padding-top: 3%;
}

.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.frist-sec{
    display: flex;
}
.opening-newpage{
    background-image: linear-gradient(orange, orangered);
    color: white;
    text-decoration: none;
    padding: 1% 2%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(231, 184, 184);
}
.heading{
    border-left: orange  solid 10px;
    border-radius: 5px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: 5px 5px 10px rgb(233, 220, 220);    
}
.center-heading{
    text-align: center;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgb(231, 184, 184);
}

.my-mission{
    background-image: url(images/shapes/dotdot.png);
    background-repeat: no-repeat;
    background-position: bottom 0px right 00px;
    background-size: 10%;
}

.mission-items{
    width: 80%;
    background-color: rgb(211, 234, 235);
    border-radius: 30px;
    margin: 1%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 5px 5px 10px rgb(243, 239, 239);
}
.mission-items img{
    width: 50%;
    margin: 0;
    
}
#mi-2{
  background-color: rgb(241, 233, 233);
}
#mi-3{
  background-color: rgb(248, 202, 234);
}
.mi{
    padding: 10%;
}