body{
    font-family: 'Poppins', sans-serif;
}
.h1-color{
    color: orangered;
}
h1{
    font-weight: 900;
    font-size: 50px;
    padding-left: 15px ;
}
#h1-left-align{
    text-align: left;
}
p{
    text-align: justify;
    padding-bottom: 3%;
    padding-top: 3%;
}

.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.frist-sec{
    display: flex;
}
.opening-newpage{
    background-image: linear-gradient(orange, orangered);
    color: white;
    text-decoration: none;
    padding: 2% 2%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(231, 184, 184);
}
.heading{
    border-left: orange  solid 10px;
    border-radius: 5px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: 5px 5px 10px rgb(233, 220, 220);    
}
.center-heading{
    text-align: center;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgb(231, 184, 184);
    margin-top: 3%;
}

.my-mission{
    background-image: url(images/shapes/dotdot.png);
    background-repeat: no-repeat;
    background-position: bottom 0px right 00px;
    background-size: 10%;
}

.mission-items{
    width: 80%;
    background-color: rgb(211, 234, 235);
    border-radius: 30px;
    margin: 0% 1% 1% 1%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 5px 5px 10px rgb(243, 239, 239);
}
.mission-items img{
    width: 50%;    
}
#mi-2{
  background-color: rgb(241, 233, 233);
}
#mi-3{
  background-color: rgb(248, 202, 234);
}
.mi{
    padding: 0% 10% 10% 10%;
}

.img-para{
    width: 70%;
    margin-left: 0%;
    position: left;
    
    
}

.develop-beyond-limits{
    background-image: url(images/shapes/dotdot.png);
    background-repeat: no-repeat;
    background-position: bottom 00px left 00px;
    background-size: 10%;
    padding-bottom: 10%;
 
    
}
.develop-bg2{
   margin-left: 3%;
   margin-top: 5%;
   width: 5%;
}
.glob-img{
    width: 40%;
    margin-left: 5%;
}
.community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom 23% right 9%;
    background-size: 10%;
    padding-bottom: 2%;
}
.img-app
{
    width: 90%;
    margin-left: 20%;
    box-shadow: 5px 5px 10px rgb(154, 187, 187);
}
.text-app{
    margin-top: 2%;  
}

.footer{ 
    background-color: rgb(10, 10, 27);
    color:rgb(241, 240, 236);
    size: 5%;
    margin-top: 10%;
}
.footer-h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 4%;
    font-size: 50px;
    text-shadow: 5px 5px 10px rgb(29, 19, 2);
}
h5{
    text-align: center;
    font-size: large;
    padding-bottom: 1%;
}
.footer-dif-color{
    color: orangered;
}
.final-sec{
    background-image: url(images/shapes/shape-8.png);
    background-repeat: no-repeat;
    background-position: bottom 2% left 8%;
    background-size: 10%;
    padding-bottom: 2%;
}
